################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

########### 全局 ###########
*.user
*.vspscc
*.vssscc
desktop.ini

########### 根目录 ###########



########### /SRC/* ###########
/SRC/*/.vs
/SRC/*/packages
/SRC/*/*/bin
/SRC/*/*/obj

########### /SDK/* ###########
/SDK/*/.vs
/SDK/*/packages
/SDK/*/*/bin
/SDK/*/*/obj

########### /Tools/* ###########
/Tools/*/.vs
/Tools/*/packages
/Tools/*/*/bin
/Tools/*/*/obj
